<div class="page-home">
		<nav>
			<ul class="select-country">
				<li class="us"><a href="#/capture/nyc">New York</a></li>
				<li class="us"><a href="#/capture/atx">Ausin</a></li>
				<li class="us"><a href="#/capture/la">Los Angeles</a></li>
				<li class="ba"><a href="#/capture/ba">Buenos Aires</a></li>
				<li class="ln"><a href="#/capture/lnd">London</a></li>
				<li class="sy"><a href="#/capture/syd">Sydney</a></li>
				<li class="sp"><a href="#/capture/sp">São Paulo</a></li>
			</ul>
		</nav>
	</div>