<div class="page-result">
		<ul class="result-chart">
			<li class="animate-repeat" ng-repeat="item in liveVolume" ng-class="item.city">
				{{item.city}}<span class="chart-number">{{item.volume}}</span></li>
			</li>
		</ul>
		<div class="result-comments">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis risus rutrum, lacinia diam vitae, sollicitudin eros. Nunc hendrerit vehicula vulputate. Pellentesque sit amet erat et quam sollicitudin laoreet ultrices semper neque. Morbi eget lacus fringilla, hendrerit risus vitae, interdum arcu
			</p>
		</div>
	</div>