<div class="page-result">
		<ul class="result-chart">
			<li>New York <span class="chart-number">57</span></li>
			<li>Austin <span class="chart-number">35</span></li>
			<li>Los Angeles <span class="chart-number">28</span></li>
			<li>Buenos Aires <span class="chart-number">24</span></li>
			<li>London <span class="chart-number">24</span></li>
			<li>Sydney <span class="chart-number">18</span></li>
			<li>São Paulo <span class="chart-number">10</span></li>
		</ul>
		<div class="result-comments">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis risus rutrum, lacinia diam vitae, sollicitudin eros. Nunc hendrerit vehicula vulputate. Pellentesque sit amet erat et quam sollicitudin laoreet ultrices semper neque. Morbi eget lacus fringilla, hendrerit risus vitae, interdum arcu
			</p>
		</div>
	</div>